html{
    font-family: 'Staatliches',
    cursive;
    font-family: 'Fira Sans',
    sans-serif;
    background: beige;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

img {
    margin-left: 30%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

img:hover{
    background: grey;
}

.description{
    padding: 5%;
    background: rgba(192, 226, 210, 0.5);
    color: white;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.device-status, .message{
    margin-top: 3rem;
    min-height: 10%;
    min-width: 50%;
    padding: 30px 40px;
    background: rgba(192, 226, 210, 0.5);
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.device-status h2, .message h2 {
        font-size: 1em;
}

#content{
    margin: 0;
    padding: 1% 8%;
    background: rgba(70, 117, 95, .5);
}