html{
    font-family: 'Staatliches',
    cursive;
    background: rgb(254, 254, 231);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

img {
    margin-left: 30%;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

img:hover{
    background: rgb(108, 108, 108);
}

.description{
    font-family: 'Staatliches',
    cursive;
    padding: 2rem;
    background: rgba(192, 226, 210, 0.5);
    color: black;
    border: solid 2px rgba(255, 255, 255, 0.509);
    border-radius: 5px;
    border: 1.5px solid black;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.device-status, .message{
    margin-top: 3rem;
    min-height: 10%;
    min-width: 50%;
    padding: 30px 40px;
    background: rgba(192, 226, 210, 0.5);
    color: black;
    border: solid 2px rgba(255, 255, 255, 0.509);
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1.5px solid black;
}

.device-status h2, .message h2 {
        font-size: 1em;
        border-radius: 5px;
}

#content{
    margin-top: .5rem;
    padding: 1% 8%;
    background: rgba(246, 250, 248, 0.5);
    border-radius: 10px;
    border: 1.5px solid black;
}
